/* ----common styles---- */
* {
  font-family: "Open Sans", sans-serif;
}

.orange_color {
  color: #fd6e0a;
}

.btn_primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: #fff;
  font-size: 20px;
font-style: normal;
font-weight: 700; 
padding: 15px 35px;
}

/* ------nav_style------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav ul li a {
  text-decoration: none;
}

.nav_title {
  color: #181818;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 45px;
  font-weight: 800;
  line-height: normal;
}

/* -----header related styles------ */

.header-color{
    background-color: #FFF8F3;
    background-image: url(.././img/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;

}

.header-banner{
    padding:30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-banner img {
  width: 584px;
height: 676px;
/* flex-shrink: 0; */
}

.banner-title{
  color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 0;

}

.banner-heading{
  color: var(--dark-01, #181818);
font-family: Open Sans;
font-size: 85px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 5px;
margin-bottom: 20px;
}

.banner-discription{
  color: var(--dark-03, #757575);
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

.banner-content{
  max-width: 500px;
}


/* ----main section---- */
main{
  max-width: 1140px;
  margin: 0 auto;
 }

/* ------About-section----- */

.about{
  padding: 130px;
  border-radius: 10px;
background: #FFF8F3;
margin: 130px 0;
}

.about_section_title{
  color: #181818;
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.about_section_description{
  color: #757575;
text-align: center;
font-size: 18px;
line-height: 30px;
}

.about_info_container{
  display: flex;
  justify-content: space-around;
}

.about_info{
  text-align: center;
  color: #757575;
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}

/* -------card_style------- */
.whatIdo_description{
  padding:30px 150px;
}

.card_container{
  display: flex;
}
.card{
  padding:30px;
  gap: 24px;
}

.card_description{

}

